<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>LiveShifter</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="/bower/jquery/dist/jquery.min.js"></script>
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- optional theme -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap&#45;theme.min.css" /> -->
    <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div id="markdown">
  <textarea name="raw-text" value=""></textarea>
</div>
<div id="rendered-html"></div>
</body>
<script type="text/javascript" src="/bower/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/bower/backbone/backbone-min.js"></script>
<script type="text/javascript" src="/bower/marked/marked.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</html>
