<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>LiveShifter</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="/bower/jquery/dist/jquery.min.js"></script>
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- optional theme -->
    <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header"><a href="/" class="navbar-brand">Markdown Server</a></div>
  </nav>
  <div class="container">
    <div class="row">
      <div id="markdown" class="col-md-6 col-sm-6">
        <textarea class="form-control" rows="10" name="raw-text" value=""></textarea>

        <div id="gdrive">
          <button class="btn btn-default" name="authorize-button">Authorize</button>
          <button class="btn bant-default" name="upload-button">Upload</button>
        </div>
      </div>
      <div id="rendered-html" class="col-md-6 col-sm-6">
      </div>
    </div>
</body>
<script>GOOGLE_DRIVE_CLIENT_ID = "<%= @GOOGLE_DRIVE_CLIENT_ID %>"</script>
<script type="text/javascript" src="/bower/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/bower/backbone/backbone-min.js"></script>
<script type="text/javascript" src="/bower/marked/marked.min.js"></script>
<script type="text/javascript" src="/bower/autosize/dist/autosize.min.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/client.js?"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/gdrive.js"></script>
</html>
